body {
  background-color: #191d23;
  color: #dedcdc;
  font-family: 'Poppins', sans-serif;
  padding: 25px;
}

.title {
  font-size: xxx-large;
  text-align: center;
}

li {
  list-style: none;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.score-list {
  padding: 0;
  border: 2px solid #dedcdc;
  width: 90%;
}

.button {
  background-color: aliceblue;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  color: black;
  font-size: medium;
}

.button:hover {
  background-color: #57707a;
  color: #dedcdc;
}

.button-form {
  margin-right: 0;
  width: 200px;
}

p {
  margin: 0;
}

.li-0 {
  background-color: #57707a;
  color: #dedcdc;
}

.li-1 {
  background-color: #989daa;
  color: #191d23;
}

.input {
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 20px;
  font-size: medium;
}

.add-score-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-column {
    width: 50%;
  }

  .add-score-form {
    margin-left: 15%;
  }
}
